
#imgPrincipal{
	width: 50px;
	height: 50px;
	border: 2px solid #000;
}

ol, ul {
	list-style-type: none;
}

form{
	background-color: #97C;;
	
}
#mainNav{
	background-color: teal;
}

#imgNav {
	width: 25px;
	height: 25px;
	border: 1px solid #000;
}



/*layouts*/

header{
	background-color:#DDD;
}

footer{
	background-color:pink;
}